*.o
*.rpo
*.tab.c
*.tab.h
lex.yy.c
*.pyc
*.pyo
*.log
*.jtext.tex
*.jcode.tex
*.text.tex
*.text.nav
*.text.snm
*.text.out
*.dvi
*.pdf
*.ps
*.aux
*.bbl
*.blg
*.toc
temp.*
core
core.*
*.jdb
*.bak
*.png
*.gz
*.tgz
*.bz2
*.tbz2
*.cgi
*.swp
*.exe
*.vcproj.*
*.suo
*.ncb

